[submodule "match_mobile_robotics"]
	path = match_mobile_robotics
	url = https://github.com/ROSmatch/match_mobile_robotics
[submodule "livox_ros_driver2"]
	path = livox_ros_driver2
	url = https://github.com/Livox-SDK/livox_ros_driver2.git
[submodule "Livox-SDK2"]
	path = Livox-SDK2
	url = https://github.com/Livox-SDK/Livox-SDK2.git
[submodule "Livox_simulation_customMsg"]
	path = Livox_simulation_customMsg
	url = https://github.com/Luchuanzhao/Livox_simulation_customMsg.git
[submodule "faster-lio"]
	path = faster-lio
	url = https://github.com/gaoxiang12/faster-lio
[submodule "FAST_LIO"]
	path = FAST_LIO
	url = https://github.com/hku-mars/FAST_LIO.git
